<?  layout("../layout/default.html") { ?>
<link rel="stylesheet" href="${root}Static/js/ztree/css/zTreeStyle/zTreeStyle.css"  type="text/css">
<script type="text/javascript" src="${root}Static/js/ztree/js/jquery.ztree.all-3.5.min.js"></script>
<div class="admin-panel">
	<div class="panel">
		<div class="panel-head">
			<h3 class="float-left">
				<b>资源管理</b> <a href="${root}Resource/create"
					class="button  button-little bg-blue  icon-plus"> 添加分组</a>
			</h3>
			<div class="toolbar"></div>
			<div class="clearfix"></div>
		</div>
		<div class="panel">
			<div id="treex" class="ztree dialogs-delegate"></div>
		</div>

	</div>
</div>
<script src="${root}Static/js/jstree/jstree.min.js"></script>
<script type="text/javascript">
	var IDMark_Switch = "_switch",
	IDMark_Icon = "_ico",
	IDMark_Span = "_span",
	IDMark_Input = "_input",
	IDMark_Check = "_check",
	IDMark_Edit = "_edit",
	IDMark_Remove = "_remove",
	IDMark_Ul = "_ul",
	IDMark_A = "_a";
	var setting = {
		async : {
			enable : true,
			url : "${root}Resource/getlist",
			autoParam : ["id"],
			type : "get"
		},
		view: {
			addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom
		}
	};
	function addHoverDom(treeId, treeNode) {
		if (treeNode.parentNode && treeNode.parentNode.id!=1) return;
		if ($("#ext_"+treeNode.id).length>0) return;
		var aObj = $("#" + treeNode.tId + IDMark_A);
		Str = '<span id="ext_'+treeNode.id+'">';
		Str +=' <a  class="icon-plus text-blue dialogx" data-toggle="click" data-title="添加子栏目" data-width="800px" data-height="450px" data-mask="1" data-url="${root}Resource/create/'+treeNode.id+'"></a>';
		Str +=' <a  class="icon-edit text-blue dialogx" data-toggle="click" data-title="编辑" data-width="800px" data-height="450px" data-mask="1" data-url="${root}Resource/update/'+treeNode.id+'"></a>';
		Str +=' <a  class="icon-trash-o text-blue"></a>';
		Str += '</span>';
		aObj.after(Str);
	}
	function removeHoverDom(treeId, treeNode) {
		//if (treeNode.parentTId && treeNode.getParentNode().id!=1) return;
		$("#ext_"+treeNode.id).unbind().remove();
		$("#ext_" +treeNode.id).unbind().remove();
	}
	$(function() {
		$.fn.zTree.init($("#treex"), setting);
	});
</script>
<?  } ?>

