<?  layout("../layout/default.html") { ?>
<div class="admin-panel">
	<div class="tab">
		<div class="tab-head">
			<strong><? if(@data.isNew()){ ?>添加<? }else{ ?>编辑<?} ?></strong>
			<span class="tab-more"><a href="javascript:history.go(-1)" class="button  button-little bg-blue  icon-step-backward"> 返回</a></span>
			<ul class="tab-nav">
			  <li class="active"><a href="#tab-set">信息</a></li>
			</ul>
		</div>
		<div class="tab-body">
			<div class="tab-panel active" id="tab-set">
				<form method="post" class="form-x" action="">
					<div class="form-group">
						<div class="label"><label for="sitename">名称</label></div>
						<div class="field">
						<input type="text" class="input" id="sysdept_cname" name="sysdept.cname" size="200" placeholder="请填写名称" data-validate="required:请填写名称" value="${data.cname!""}"/>
						</div>
					</div>
					
					<div class="form-group">
						<div class="label"><label for="sitename">描述</label></div>
						<div class="field">
						<input type="text" class="input" id="sysdept_desc" name="sysdept.desc" size="500" placeholder="请填写描述" data-validate="" value="${data.desc!""}"/>
						</div>
					</div>
					
					<div class="form-group">
						<div class="label"><label for="sitename">父级Id</label></div>
						<div class="field">
						<input type="text" class="input" id="sysdept_pid" name="sysdept.pid" size="11" placeholder="父级Id" data-validate="required:请填写父级Id" value="${data.pid!"0"}"/>
						</div>
					</div>
					
				<div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
			    </form>
			</div>
		</div>
	</div>
</div>
<?  } ?>			