<?  layout("../layout/default.html") { ?>
<script type="text/javascript" src="${root}Static/js/jquery.tmpl.js"></script>
<form method="post" action="123123213/deleteAll">
<div class="admin-panel">		
    <div class="panel">
    	<div class="panel-head">
            <h3 class="float-left"><b>部门列表</b> <a href="${root}Dept/create" class="button  button-little bg-blue  icon-plus"> 添加一级部门</a></h3>
            <div class="toolbar">                    
                <button class="button  button-little bg-red icon-trash-o" onclick="{if(confirm('删除后数据不可恢复，确定执行?')){return true;}return false;}"> 批量删除</button>
            </div>
            <div class="clearfix"></div>
        </div>        
		<div class="panel-body" deptid="0">
		</div>
        <div class="panel-foot text-center">
        <?  includeFileTemplate("/common/paginate.html",{uri : '', page : page}){}?>            
        </div>
    </div>
</div>
</form>
<script id="deptTpl" type="text/x-jquery-tmpl">
<ul class="dept-item" deptid="\${ID}" loadflg="0">
    <li class="dept-item-info {%if HASCHILD==true%}icon-angle-double-right{%/if%}" onclick="toggle(\${ID})">
        \${CNAME}   <a class="icon-plus-square text-blue hidden" href="${ControllerKey}/create/\${ID}"> </a>
    </li>
</ul>
</script>
<script type="text/javascript">
var toggle = function(id){
    var item = $(".dept-item[deptid='"+id+"']");
    var loadflg = $(item).attr('loadflg');
    if (loadflg=="0")
        getlist(id);
    else        
        $(".dept-item[deptid='"+id+"'] ul").toggle();
    if ($(".dept-item[deptid='"+id+"'] li:first").hasClass('icon-angle-double-right')) {
        $(".dept-item[deptid='"+id+"'] li:first").removeClass('icon-angle-double-right');
        $(".dept-item[deptid='"+id+"'] li:first").addClass('icon-angle-double-down');
    }else if ($(".dept-item[deptid='"+id+"'] li:first").hasClass('icon-angle-double-down')) {
        $(".dept-item[deptid='"+id+"'] li:first").removeClass('icon-angle-double-down');
        $(".dept-item[deptid='"+id+"'] li:first").addClass('icon-angle-double-right');
    }; 
}
var getlist = function(pid){
    if(typeof pid =="undefined") pid = 0;
	$.get("${ControllerKey}/getlist", {'pid':pid},function(json){
        $("#deptTpl").tmpl(json.data).appendTo("[deptid='"+pid+"']")
		console.info(json.data[0]);

        $(".dept-item[deptid='"+pid+"']").attr('loadflg',1);
	},"JSON");
}
getlist();
$(".panel-body").delegate(".dept-item-info", "mouseover", function(){
    $("a",this).removeClass('hidden')
});
$(".panel-body").delegate(".dept-item-info", "mouseout", function(){
    $("a",this).addClass('hidden')
});
</script>
<?  } ?>
