<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="${root}/Static/easyui/themes/default/easyui.css"/> 
    <link rel="stylesheet" type="text/css" href="${root}/Static/easyui/themes/icon.css"/>
    <script type="text/javascript" src="${root}/Static/js/jquery.js"></script>
    <script type="text/javascript" src="${root}/Static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${root}/Static/easyui/easyui-lang-zh_CN.js"></script>        
    <link rel="stylesheet" type="text/css" href="${root}/Static/css/cnvp.css"/>
    <script type="text/javascript" src="${root}/Static/js/cnvp.js"></script>        
    <title>Full Layout - jQuery EasyUI Demo</title>
</head>
<body id="pagebody">
${layoutContent}
</body>
</html>