<!-- @ layout("../layout/default.html") { -->
<div class="admin-panel">
    <div class="panel">
        <form method="post">
            <div class="panel-head">
                <div class="toolbar">
                    <a href="${root}User/Create" class="button  button-small bg-blue  icon-plus"> 添加</a>
                    <button class="button  button-small bg-red icon-trash-o"> 批量删除</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-hover table-striped">            
                <tr>
                    <th>表名</th>
                    <th>类型</th>
                    <th>字符集</th>
                    <th>记录数</th>
                    <th>大小</th>
                </tr>
                <!-- @for(table in tables){ -->
				<!-- @ var fields = @table.getColumns();				 -->
				<tr>					
					<td>${fields.name}</td>
					<td>${fields.engine}</td>
					<td>${fields.collation}</td>
					<td>${fields.rows}</td>
					<td>${fileSize(fields.data_length)}</td>
				</tr>
				<!-- @}          -->
            </table>
        </form>
        <div class="panel-foot text-center">
            <ul class="pagination"><li><a href="#">上一页</a></li></ul>
            <ul class="pagination pagination-group">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
            <ul class="pagination"><li><a href="#">下一页</a></li></ul>
        </div>
    </div>
</div>
<!-- @ } -->