<!-- @ layout("../layout/default.html") { -->
<div class="admin-panel">
    <div class="panel">
        <form method="post">            
            <table class="table table-hover">            
                <tr>
                    <th width="10">表名</th>
                    <th width="10">&nbsp;</th>
                    <th>模型名</th>
                    <th>数据类型</th>
                    <th>字符集</th>
                    <th>记录数</th>
                    <th>大小</th>
                    <th>操作</th>
                </tr>
                <!-- @for(table in tables){ -->
				<!-- @ var fields = @table.getColumns();				 -->
				<tr>
					<td>${fields.name}</td>
					<td>=></td>
					<td>${fields.modelname!}</td>
					<td>${fields.engine}</td>
					<td>${fields.collation}</td>
					<td>${fields.rows}</td>
					<td>${fileSize(fields.data_length)}</td>					
                    <td><a class="button border-blue button-little icon-code" href="${type}_code/${fields.name}-${fields.modelname}"> 预览代码</a></td>
				</tr>
				<!-- @}          -->
            </table>
        </form>        
    </div>
</div>
<!-- @ } -->