<?  layout("layout/default.html") { ?>
<div class="admin-panel">
	<div class="tab">
		<div class="tab-head">
			<strong class="tab-perfix"></strong>
			<ul class="tab-nav">
			  <li class="active"><a href="#tab-set">修改密码</a></li>
			</ul>
		</div>
		<div class="tab-body">
			<div class="tab-panel active" id="tab-set">
				<form method="post" class="form-x" action="">	
					<div class="form-group">
						<div class="label"><label for="sitename">原始密码</label></div>
						<div class="field">
						<input type="text" class="input" id="old" name="old" placeholder="原始密码" value=""/>
						</div>
					</div>					
					<div class="form-group">
						<div class="label"><label for="sitename">新密码</label></div>
						<div class="field">
						<input type="text" class="input" id="new1" name="new1" placeholder="新密码" value=""/>
						</div>
					</div>	
					<div class="form-group">
						<div class="label"><label for="sitename">再次确认</label></div>
						<div class="field">
						<input type="text" class="input" id="new2" name="new2" placeholder="再次输入新密码" value=""/>
						</div>
					</div>
				<div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
			    </form>
			</div>
		</div>
	</div>
</div>
<?  } ?>